{% extends "polls/base.html" %}

{% block body_block %}
    <div class="container">
        <h2>{{ question.question_text }}</h2>
        <p>Choose an option, the click "Vote".</p>
    </div>

    <div class="py-3"></div>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <div class="container options">
        <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <div class="form-check">
              <input class="form-check-input" name="choice" type="radio" id="choice-{{ forloop.counter }}" value="{{ choice.id }}">
              <label class="form-check-label" for="choice-{{ forloop.counter }}">
                  {{ choice.choice_text }}
              </label>
            </div>

        {% endfor %}
        <button class="btn btn-primary mt-3" type="submit">
            Vote
        </button>
    </form>
    </div>

{% endblock %}







{#<u1>#}
{#    {% for choice in question.choice_set.all %}#}
{#        <li>{{ choice.choice_text }}</li>#}
{#    {% endfor %}#}
{#</u1>#}